@import "variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "shopping.scss";
  // override for bootstrap classes
.btn-warning {
  background-color: $flamingo;
  border-color: $flamingo;
  color: #fff;
}
.btn-light {
  background-color: $product-light;
  border-color: $product-light;
  color: #000;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}