.img-size {
  width: 130px;
}
.product-card {
  max-height: 250px;
}
.basket-container {
  height: calc(100vh - 180px);
  width: 50%;
  overflow: auto;
}
.product-container {
  height: calc(100vh - 110px);
  overflow: auto;
}
.basket-remove {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.clicked-link {
  color: #00afea !important;
}